 * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #050505;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
      color: #f5f5f5;
    }

    .form {
      width: 420px;
            border: red 1px solid;
    }

    .field {
      margin-bottom: 24px;

    }

    .field label {
      display: block;
      font-size: 15px;
      margin-bottom: 6px;
      color: #f5f5f5;
    }

    .text-input {
      width: 100%;
      padding: 10px 0;
      border: none;
      border-bottom: 1px solid #555;
      background: transparent;
      color: #f5f5f5;
      font-size: 15px;
      outline: none;
      transition: border-color 0.2s;
    }

    .text-input:focus {
      border-bottom-color: #fff;
    }

    /* Зона для файла */

    .file-wrap {
      margin-top: 8px;
    }

    .file-input {
      display: none; /* скрываем настоящий input */
    }

    .file-label {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 6px;

      width: 100%;
      padding: 32px 16px;
      border-radius: 4px;
      border: 1px dashed #555;
      cursor: pointer;
      transition: border-color 0.2s, background 0.2s;
    }

    .file-label:hover {
      border-color: #fff;
      background: rgba(255, 255, 255, 0.02);
    }

    .file-label__title {
      font-size: 16px;
      text-decoration: underline;
    }

    .file-label__sub {
      font-size: 12px;
      color: #aaa;
    }